/* ---------------- Lobby ---------------- */

.c-icon__hidden-pencil {
  display: block;
}

.c-icon__hidden-save {
  display: none;
}

.c-input:focus + label > .c-icon__hidden-pencil {
  display: none;
}
.c-input:focus + label > .c-icon__hidden-save {
  display: block;
}
.c-input:active + label > .c-icon__hidden-pencil {
  display: none;
}
.c-input:active + label > .c-icon__hidden-save {
  display: block;
}

/* ---------------- Credits ---------------- */

.c-logo {
  width: 200px;
  margin-left: 48px;
  margin-right: 48px;
}

.c-logo-layout {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.c-logo-line {
  border-right: 2px solid #000;
  height: 100px;
  display: flex;
  align-items: center;
}
